<!--<mat-nav-list>-->
<!--  <mat-list-item *ngFor="let navItem of navItems" class="sidenav-item" routerLinkActive="active">-->
<!--    <a mat-list-item [routerLink]="[navItem.link]" (click)="onClose()">-->
<!--      <mat-icon class="icon" routerLinkActive="active">{{navItem.icon}}</mat-icon>-->
<!--      <span class="nav-caption" routerLinkActive="active">{{navItem.text}}</span>-->
<!--    </a>-->
<!--  </mat-list-item>-->
<!--</mat-nav-list>-->
<div class="sidebar-nav">
  <nav>
    <div class="container">
      <!-- Mobile Menu Toggle Button -->
      <!--      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">-->
      <!--        <mat-icon>-->
      <!--          menu-->
      <!--        </mat-icon>-->
      <!--      </button>-->
      <!-- Menus List -->
      <div class="offcanvas offcanvas-end shadow" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div>
          <ul class="navbar-nav" *ngFor="let navItem of navItems">
            <li class="sidenav-item">
              <a mat-list-item [routerLink]="[navItem.link]" (click)="onClose()">
                <mat-icon class="icon" routerLinkActive="active">{{navItem.icon}}</mat-icon>
                <span class="nav-caption" routerLinkActive="active">{{navItem.text}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

