@import "src/styles";

.sidenav-item.active {
  background-color: $ngsbBlue2;
}

//.icon.active {
//  color: white;
//}

//.nav-caption.active {
//  color: white;
//}

.offcanvas.show {
  width: 50%;
  background: $ngsbBlue;
}
