@import "src/styles";

.footer-container {
  display: flex;
  margin-top: 5%;
  width: 100%;
}

.footer {
  background-color: $ngsbBlue;
  width: 100%;
  display: flex;
  color: $ngsbWhite;
  justify-content: space-evenly;
  font-weight: bold;
}

.copy-year {
  padding: 10px;
}
