@import "src/styles";

.button-container {
  display: flex;
  width: 100%;
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-flow: column;
}

mat-grid-tile {
  background: lightblue;
}

.section {
  margin-left: 2rem;
  margin-top: 5%;
  text-justify: auto;
  text-align: justify;
}

.text-width {
  width: 30rem;
}

.disabled {
  background-color: $ngsbGrey;
}

.mat-stepper-vertical {
  background-color: $ngsbOffWhite;
}

.buttons {
  display: flex;
}

button:hover {
  cursor: pointer;
}

.mat-stepper-vertical {
  margin-top: 1rem;
}

.stepper-btn {
  margin-top: 1rem;
}

.stepper-reset-btn {
  margin-left: 1rem;
}

lazy-back-stepper-button {
  margin-left: 1rem;
}

.mat-form-field {
  margin-top: 1rem;
}

.primary-btn {
  width: 100%;
  margin-left: 1rem;
}

@media (max-width: 900px) {
  .buttons {
    width: 50%;
  }
}
