<div class="section">
  <h3>Material Form</h3>
  <form [formGroup]="inputFormGroup">
    <div class="row">
      <div class="col-md-4">
        <lazy-input
          appearance="fill"
          label="Style: Fill"
          [autoComplete]="'off'"
          [maxLength]="100"
          [iconName]="'account_circle'"
          [controlName]="'firstName'"
          hint="This is a hint"
        >
        </lazy-input>
        <lazy-number-input
          appearance="legacy"
          label="Style: Legacy"
          [autoComplete]="'off'"
          hint="Example: 012-345-6789"
          [maxLength]="10"
          [type]="'tel'"
          [iconName]="'phone_android'"
          [controlName]="'phoneNumber'">
        </lazy-number-input>
        <lazy-drop-down
          appearance="outline"
          label="Style: Outline"
          [controlName]="'dropDown'"
          [options]="dropDownOptions"
          [iconName]="''"
          [required]="true"
        >
        </lazy-drop-down>
        <lazy-input
          appearance="standard"
          label="Style: Standard"
          [autoComplete]="'off'"
          [iconName]="'email'"
          hint="name@domain.com"
          [controlName]="'email'"
          [maxLength]="100"
        >
        </lazy-input>
      </div>
    </div>
    <div class="button-container row">
      <div class="ngsb-buttons col-md-4">
        <ng-container *ngIf="inputFormGroup.valid">
          <lazy-button class="primary-btn" (click)="send()" [btnEnabled]="true" buttonLabel="Send"></lazy-button>
        </ng-container>
        <ng-container *ngIf="!inputFormGroup.valid">
          <lazy-button class="primary-btn" [btnEnabled]="false" buttonLabel="Send"></lazy-button>
        </ng-container>
        <lazy-button class="primary-btn" (click)="reset()" buttonLabel="Reset"></lazy-button>
      </div>
    </div>
  </form>
</div>
