@import "src/styles";

.button-container {
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-flow: column;
}

mat-grid-tile {
  background: lightblue;
}

.section {
  margin: 2% 2%;
}

.text-width {
  width: 30rem;
}

button:hover {
  cursor: pointer;
}

.ngsb-buttons {
  display: flex;
  justify-content: flex-end;
}

.mat-form-field {
  margin-top: 1rem;
}

.reset-btn {
  margin-left: 1rem;
}

@media (max-width: 500px) {
  .ngsb-buttons {
    flex-flow: column;
  }

  .reset-btn {
    margin: 1rem 0;
  }
}
