@import "src/styles";

.int-input {
  margin-top: 50px;
}

.button-container {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.section {
  margin-left: 20px;
  margin-top: 5%;
  text-justify: auto;
  text-align: justify;
}

.text-width {
  width: 500px;
}

.disabled {
  background-color: $ngsbGrey;
}

.buttons {
  display: flex;
  width: 15%;
}

button:hover {
  cursor: pointer;
}

button {
  width: 100%;
  margin-right: 10px;
}

@media (max-width: 900px) {
  .buttons {
    width: 50%;
  }
}
