<div>
  <div class="section">
    <h3>Numbers Only, max Length 10, and number formatting</h3>
    <div>
      <mat-form-field>
        <label>
          <input
            type="number"
            autocomplete="off"
            [maxLength]="10"
            numbersOnly
            matInput
            placeholder="Phone Number">
        </label>
        <mat-icon matSuffix>phone_android</mat-icon>
      </mat-form-field>
    </div>
  </div>

  <div class="section">
    <h3>Material Form</h3>
    <form [formGroup]="inputFormGroup">
      <mat-form-field>
        <label>
          <input autocomplete="off" matInput placeholder="Email" required formControlName="email">
        </label>
        <mat-error *ngIf="checkRequired('email', 'required')">Email is required</mat-error>
        <mat-error *ngIf="checkRequired('email', 'pattern')">Email address is invalid</mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <!--  Todo: Figure out how to make buttons same width  -->
      <div class="button-container">
        <div class="buttons">
          <!--    Todo: Change styles on global button to match the non global button    -->
          <!--        <pg-button [btnEnabled]="inputFormGroup.valid" buttonLabel="Submit"></pg-button>-->
          <ng-container *ngIf="inputFormGroup.invalid">
            <button class="disabled" (click)="submit()" [disabled]="inputFormGroup.invalid" type="button">Submit</button>
          </ng-container>
          <ng-container *ngIf="inputFormGroup.valid">
            <button class="enabled" (click)="submit()" [disabled]="inputFormGroup.invalid" type="button">Submit</button>
          </ng-container>
          <button type="button" (click)="reset()">Reset</button>
        </div>
      </div>
    </form>
  </div>

  <div class="section">
    <h3>Drag and Drop</h3>
  </div>

  <div class="section">
    <h3>Menus</h3>
  </div>
</div>
