@import "src/styles";

button {
  color: $ngsbWhite;
  font-size: 20px;
  font-weight: bold;
  height: 45px;
  overflow: hidden !important;
  position: relative;
  transition: 0.3s;
  user-select: none;
  width: 200px;
  border: none;
  border-radius: 2px;
  outline: none;
}

.primary-btn {
  background-color: $ngsbSecondary;
  cursor: pointer;

  &:hover {
    background-color: lighten($ngsbSecondary, 10%);
  }
}

.inactive-btn {
  background-color: grey;
}

.red-btn {
  background-color: $ngsbAccentRed;

  &:hover {
    background-color: lighten($ngsbError, 10%);
  }
}

.secondary-btn {
  background-color: $ngsbAccentRed;

  &:hover {
    background-color: lighten($ngsbAccentRed, 3%);
  }
}

span {
  background: rgba(255, 255, 255, 0.445);
  border-radius: 100%;
  display: block;
  height: 200px;
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  width: 200px;
}

.animated {
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
