@import "src/styles";

.brand-name {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.brand-name:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $ngsbWhite;
}

.nav-item:hover {
  //color: $ngsbBlue2;
  background-color: $ngsbBlue2;
}

.nav-item.active {
  background-color: $ngsbBlue2;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.nav-container {
  background-color: $ngsbBlue;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.nav-items {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
}

.sidenav-button {
  display: flex;
  align-items: center;
}

.nav-item:hover {
  cursor: pointer;
}

.nav-item {
  padding: 20px;
  margin-left: 1rem;
}
