<!-- Todo: Fix mobile nav display for menu button and branding text -->
<div class="nav-container">
  <div class="nav">
    <div routerLink="/home" class="brand-name">
      <div>
        Ng Playground
      </div>
    </div>
    <div class="nav-items" fxHide.xs>
      <ng-container *ngFor="let navItem of navItems">
        <a [routerLink]="[navItem.link]" class="nav-item" routerLinkActive="active">
          <div>{{navItem.text}}</div>
        </a>
      </ng-container>
    </div>
    <div fxHide.gt-xs class="sidenav-button">
      <button class="sidenav-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
<!--      <button class="sidenav-btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">-->
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>
  </div>
</div>
