<div class="nav-container">
  <div class="nav">
    <div class="brand-name">
      <div>
        Ng Playground
      </div>
    </div>
    <div class="nav-items">
      <!--   Todo: Figure out how to work with ul li here   -->
      <div class="nav-item">Home</div>
      <div class="nav-item">About</div>
      <div class="nav-item">Contact</div>
      <div class="nav-item">Products</div>
      <div class="nav-item">Shopping Cart</div>
    </div>
    <div class="sidenav-button-container">
      <button class="sidenav-button" mat-icon-button>
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>
  </div>
</div>
