@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$ngsbWhite: #ffffff;
$ngsbBlack: #000000;
$ngsbRed: #ff0600;
$ngsbLightRed: #ff6584;
$ngsbBlue: #3f92ff;
$ngsbBlue2: #4285f4;

html,
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

//Input Field Styles
.mat-form-field-required-marker {
  color: $ngsbLightRed !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $ngsbBlue !important;
}

.mat-form-field-wrapper {
  margin-top: 1.5rem !important;
}

.mat-form-field-underline {
  height: 1px !important;
}

.mat-form-field {
  font-size: 1rem !important;
  width: 100% !important;
}

.file-upload {
  margin-top: 2rem !important;
}
